body {
	background-color: white;
	font-family: utm-avo;
	font-weight: bold;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

.row {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
}

p {
	font-size: 0.875rem;
}

li {
	font-size: 0.6875rem;
}

a {
	color: black;
}
img {
	overflow: hidden;
}

.navbutton {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
}

.navbutton div {
	padding: 20px 35px;
	cursor: pointer;
	font-size: 1.5625rem;
	background-color: white;
}

.navbutton div:first-child {
	margin-right: 2px;
}

.bannerHome div h1 {
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bolder;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	letter-spacing: -0.24px;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: utm-avo-bold;
}

.bannerHome div a {
	display: inline-block;
	padding: 15px 20px;
	margin-top: 15px;
	background-color: white;
}

.bannerHome div p:nth-child(1) {
	line-height: 40px;
	font-size: 0.875rem;
}

.bannerHome div p:last-child {
	margin-top: 170px;
	font-size: 0.625rem;
}

.banner {
	background-image: url(../img/dam-banner@3x.png);
	background-size: contain;
	padding: 200px 800px 200px 100px;
	margin-bottom: 60px;
}

.carousel {
	/* background-color: black; */
	margin: 0;
}

.carouseItem {
	margin: 0;
	margin-right: -100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.controlContainer {
	position: absolute;
	right: 0;
	z-index: 1;
	bottom: 0;
	width: 20%;
	height: 15%;
	display: flex;
	justify-content: space-between;
}

.controlContainer a,
.controlContainer a:enabled {
	background-color: white;
	color: black;
	width: 50%;
	opacity: 1;
}

.controlContainer a:hover {
	color: white;
	background-color: black;
}

a {
	text-decoration: none;
}

.bannerHext {
	text-align: center;
}

.bannerHext > h1 {
	font-size: 3.125rem;
	padding: 5px;
	margin: 0;
}

.bannerHext > p {
	padding: 5px;
	margin: 0;
}

.clearFix::after {
	content: "";
	clear: both;
	display: table;
}

.category {
	margin: 0px 40px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.category::after {
	display: none;
}

.column {
	float: left;
	padding: 0;
}

.column2 {
	float: left;
	width: 33.33%;
	text-align: center;
}

.column3 {
	width: 50%;
	padding: 50px 20px 50px 35px;
	text-align: justify;
	box-sizing: border-box;
}

.column3 p:first-child {
	font-family: utm-avo-bold;
	font-size: 0.75rem;
	text-transform: uppercase;
}

.column3 p:last-child {
	font-size: 0.625rem;
	font-weight: normal;
}

.shortTalk {
	display: flex;
	align-items: center;
}

.shortTalk > img {
	width: 50%;
	height: inherit;
}

.imageSeries {
	display: flex;
	overflow: hidden;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	padding: 0px 20px;
	box-sizing: border-box;
	margin-bottom: 60px;
}

/* .imageSeries img {
	max-width: 100%;
} */

.imageSeries .imgContainer {
	margin: 7px;
	position: relative;
}

.overlay {
	color: white;
	position: absolute;
}

.overlay p:first-child {
	font-family: utm-avo-bold;
	font-size: 0.875rem;
	margin: 0;
}

.overlay p:last-child {
	font-family: utm-avo-bold;
	font-size: 1.5rem;
	margin: 0;
}

.overlayText1 {
	color: black;
	top: 25px;
	left: 28px;
}

.overlayText2 {
	top: 50%;
	left: 28px;
	transform: translate(0, -50%);
}

.overlayText3 {
	bottom: 25px;
	left: 28px;
	text-shadow: 1px 1px 5px grey;
}

.overlayText4 {
	top: 50%;
	left: 20px;
	transform: translate(0, -50%);
}

.overlayText5 {
	bottom: 25px;
	left: 50%;
	transform: translate(-50%, 0);
}

.overlayText6 {
	top: 50%;
	left: 50%;
	transform: translate(-59%, -50%);
}

.flexContainer {
	display: flex;
	margin: 0;
}

.box4 {
	background: url(../img/img-9442-copy-986.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	margin: 0px 0px 0px 20px;
	padding: 40px 0px;
	position: relative;
}

.box4::after {
	content: "";
	background: white;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 39.5%;
	left: 47%;
	transform: rotate(45deg);
}

.box6::after {
	content: "";
	background: white;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 56%;
	left: 47%;
	transform: rotate(45deg);
}

.column2 p:nth-child(1) {
	font-family: utm-avo-bold;
	font-size: 0.875rem;
	margin: 5px;
}

.column2 p:nth-child(2) {
	font-family: utm-avo-bold;
	font-size: 1.5rem;
	margin: 0;
}

.column2 p:nth-child(3) {
	font-family: utm-avo;
	font-size: 0.75rem;
}

.box5 {
	background: url(../img/mg-1540-5540.png);
	background-size: cover;
	margin: 0px 10px;
	padding: 240px 20px 20px;
}

.box5 .container {
	margin: 0px;
}

.box6 {
	background: url(../img/b-small-b-font-seashells-font-b-dreamcatcher-b-font-car-ornaments-supplies.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0px 20px 0px 0px;
	padding: 280px 0px 0px 0px;
	position: relative;
}

.bannerHome {
	position: relative;
	background-image: url(../img/group-1.jpg);
	background-position-x: -156px;
	text-align: center;
	height: 619px;
	float: left;
	width: 100%;
	padding: 140px 480px 0px 100px;
	box-sizing: border-box;
	max-width: 1000px;
}

.bannerSubTxt {
	letter-spacing: 2.8px;
	text-transform: uppercase;
	margin: 0;
}
@media screen and (max-width: 800px) {
	.shortTalk {
		flex-flow: column;
	}
	.reverse {
		flex-flow: column-reverse;
	}
	.shortTalk > * {
		width: 100vw;
	}
	.shortTalk img {
		width: 100%;
	}
	.column3 {
		padding: 20px;
	}
	.bannerHome {
		padding: 20px 0;
		height: 500px;
	}
	.bannerHome div a {
		margin: auto;
	}
}

@media screen and (max-width: 540px) {
	.flexContainer {
		flex-direction: column;
		height: auto;
	}

	.flexContainer > * {
		width: 100%;
		margin: 0;
	}

	.column2::after {
		display: none;
	}
	.controlContainer {
		position: absolute;
		right: 0;
		left: 0;
		margin: 0 auto;
		z-index: 1;
		bottom: 0;
		width: 30%;
		height: 10%;
	}
}
